.item-container-outter {
  width: 275px;
  margin: 0 auto;
}

.item-container-inner {
  background-color: #ffffff;
  border-radius: 2%;
  padding: 25px;
  margin: 10px;
  width: 250px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.lowest-price {
  color: red;
}

.delete-button {
  display: flex;
  justify-content: center;
}
