.item-container {
  background-color: #ffffff;
  border-radius: 2%;
  padding: 25px;
  margin-bottom: 50px;
  width: 250px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.lowest-price {
  color: red;
}
